

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: black;
    background-image: url("https://dsm01pap001files.storage.live.com/y4msBylji3tG7y7xuZWfeBh-XzHT1ubMcC5YjDBBswxYMfDvz_kx_yws7KXOTCKzy5c9RrxBvBdjoMX-clGXR9cakOwS4JC6Eb1uQJbKvPsooIuNvle9-F7cXni_ploQ3P79VQoO3RgoUGsT3LSJHKWJmlynbVnOuOrIKH6vwqb5CU4tRFSZaXPNre4AJ5WhAHq?width=1920&height=1248&cropmode=none");
    background-size: cover;
    filter: sepia(60%);
    font-family: cursive;
    font-weight: bolder;
    font-size: larger;   
}

.grid {
    background-color: #d0cfec;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.grid_item {
    background-color: #d0cfec;
    text-align: justify;
    padding: 2rem;
}

.myportfolio_container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1f4 0.4fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
        "head head"
        "main aside"
        "foot foot";
}

header {
    grid-area: head;
    font: white;
    opacity: 1.75;
    filter: alpha(opacity=75);
    position: relative;
}

.navbar {
    display: flex;
    text-align: center;
    list-style-type:none;
    justify-content:space-between;
}

.column-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
  
.column {
    padding: 15px;
    border-left: 7px solid red;
}
  
.column:first-child {
    border-left: none;
}

main{
    display: flexbox;
    padding-top: 75px;
    padding-left: 20px;
    width: 50%;
    height: 75%;
    font-weight: bolder;
    font: white;
    word-wrap: normal;
    grid-area: main;
}

.Chapter1_container{
    width: 75vmin;
    height: 75vmin;
    transform: translate(5%,5%);
    overflow: hidden;
    border: 15px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}

.wrapper1{
    width: 100%;
    display: flex;
    animation: slide 20s infinite;
}

h6{
    padding: 5px;
    color: #fff;
    mix-blend-mode: difference;
    background-color: blue;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    95%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(0);
    }
}

img{
    width: 100%;
    height: 85%;
}

.Chapter2_container{
    width: 65vmin;
    height: 70vmin;
    transform: translate(5%,5%);
    overflow: hidden;
    border: 15px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
    background-color: beige;
}

.wrapper2{
    width: 100%;
    display: flex;
    animation: slide 25s infinite;
}

h5{
    padding: 25px;
    color: #fff;
    mix-blend-mode: difference;
    background-color: blue;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    95%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(0);
    }
}

.Memorial {
    width: 65%;
    height: 45%;
}

aside{
    display: flexbox;
    padding-top: 0px;
    padding-left: 200px;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    font: white;
    word-wrap: normal;
    grid-area: aside;
}

.Chapter3_container{
    padding: 0px;
    overflow: hidden;
    border-radius: 8px;
}

.three{
    padding-top: 50px;
    padding-left: 100px;
}

.wrapper3{
    margin: auto;
    padding-left: 100px;
    width: 500px;
}

video{
    width: 100%;
}
